<!DOCTYPE html>
<html lang="ko"> 
<head>
    <meta charset="utf-8">
    {{!--<link rel="shortcut icon" href="/assets/favicon.ico?v=004" type="image/x-icon" />--}}
    <title>App</title>
    {{!--<link rel="stylesheet" href="/assets/css/style.css">--}}
</head>
<body>
</body>
    {{{body}}}
</html>